body {
    background-color: #3a3737;
    align-items: center;
    justify-content: center;

    
}

.boxCom {
 background-color: #706e6e;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 500px;
  height: 500px;
  margin-left: 35%;
  color: #EF4992;;
  border: 3px solid #000000;
}